<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016 John Paul Krause.
  ~ AndroidManifest.xml is part of AndroidProxySetter.
  ~
  ~ AndroidProxySetter is free software: you can redistribute it and/or modify
  ~ iit under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ AndroidProxySetter is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with AndroidProxySetter.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.elevek.proxysetter" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:persistent="false">
        <activity
            android:name="tk.elevenk.proxysetter.MainActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
        </activity>
    </application>

</manifest>
